{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container-fluid bg-dark">
  <h1 align="center text-muted">Smart Amenities</h1>
  <h1 align="center text-muted">Your confirmed bookings</h1>
</div>

<div align="center">
  <img src="qrcode.png" class="img-fluid" alt="Qr code">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="QR CODE">
    <div class="card-body">
      <h5 class="card-title">Current Booking</h5>
      <p class="card-text">Please show the QR Code to check into your hotel room</p>
    </div>
  </div>
</div>

<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}