{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="mapouter">
    <div class="gmap_canvas">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d243764.63360795306!2d30.248506830126946!3d-17.32411607915778!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1930b4c63c5e741b%3A0xf7411f84fce45b90!2sMsasa%20Guest%20House%20Chinhoyi%20(Wendy%20Shaw)!5e0!3m2!1sen!2szw!4v1700242250593!5m2!1sen!2szw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        <style>.mapouter{position:relative;height:400px;width:430px;background:#fff;} .maprouter a{color:#fff !important;position:absolute !important;top:0 !important;z-index:0 !important;}</style>
        <a href="https://blooketjoin.org">blooket join</a><style>.gmap_canvas{overflow:hidden;height:400px;width:430px}.gmap_canvas iframe{position:relative;z-index:2}</style>
    </div>
</div>

{% endblock %}